---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<p class="hero__text">Hello!</p>
			<h1 class="hero__title color__gradiente">I'm Oliver Modesto</h1>
			<p class="hero__text">
				A Web Developer and Markerting Specialist.
			</p>
			<Boton href="https://calendar.app.google/1FdB15EuStJZwGUT9" texto="Meet with me"/>
		</div>
		<img
			class="hero__img"
			src="/img/oliver_profile_pic.jpeg"
			alt="Oliver Modesto"
			width="384"
			height="384"
		/>
	</div>
</section>
