---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Skills" />
		<p>
			I build scalable, user-focused websites and applications with JavaScript, Python, and SQL. 
			I like frameworks like Astro, Django and React. 
			My strength is connecting clean code with real business impact, blending technical skills
			with a marketer's mindset to create solutions that engage users and drive results.
		</p>
	</div>
</section>
